$bodyColor:rgb(241,245,246);
$btnColor:rgb(142,72,142);
*{margin: 0;padding: 0;}
ul{list-style: none;}
body{background: $bodyColor;font-family: ' 微软雅黑';}
//头部
header{position: relative;
    .layout-header{display: flex;justify-content: center;padding-top: 12px;text-align: center;height: 36px;background: $btnColor;font-size: 18px;color: white;
                  a{flex: 1;text-decoration: none;color: white;font-size: 18px;}
                  a:nth-of-type(1){text-align: left;padding-left: 8px;}
                  a:nth-of-type(2){text-align: right;padding-right:8px;
                       
                  }
                  div{flex:3;font-size: 16px;font-weight: 700;}
    }
    .caidan{display: none; width: 124px;height: 228px; position: absolute;background: rgba(0,0,0,0.6);color: red;border-radius:5px;right: 10px;border-top:3px solid rgba(0,0,0,0.6) ;
         ul{
             li{height: 37px;border-bottom: 1px solid darkgray ;text-align: center;
                a{text-decoration: none;display: inline-block;line-height: 36px;text-align: center;color: darkgray;font-weight: 800;}
             }
             li:last-child{border: none;}
         }
    }
    .caidan::before,.caidan::after{
        content: '';
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom:8px solid rgba(0,0,0,0.6);
        right: 8px;
        top:-10px;
    }
   
   
    
}
//表单验证
.layoyt-body{
    ul li{padding: 10px;;height:34px;display:flex;
         input{width: 0px;text-indent: 8px;flex:1;}
         button{border: none;width: 0px;flex: 1;background: $btnColor;color: white;border-radius:5px;font-size: 15px;}
    }
    
    ul:nth-of-type(1) li,ul:nth-of-type(5) li{
            
            input:nth-of-type(1){flex: 1;} 
            input:nth-of-type(2){flex:2;}
    }
    ul:nth-of-type(2) li{
        input{flex:3;}
        button{flex:2;border-radius:0 5px 5px 0 ;color: white;font-size: 16px;background: $btnColor;}
    }
    ul:nth-of-type(6) li{
        button{border: none; border-radius:5px;flex: 1;background: $btnColor;color: white;font-size: 16px;}
    }
    div{display: flex; 
        a{
            flex: 1;
        text-decoration: none;
        padding: 10px;
        padding-top:8px ;
        color: darkslategray;
        font-size: 14px;
    }
    a:nth-of-type(1){
        text-align: left;
    }
    a:nth-of-type(2){
        text-align: right;
    }
}
    
}
