div, body, html, header, ul, li, span, i, menu, footer, aside, p, h4 {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f1f5f6;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*导航栏*/
.order_content {
  width: 100%;
  background-color: #f1f5f6;
  overflow: hidden;
}

.order_content nav {
  display: flex;
  background-color: #f1f5f6;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.order_content nav a {
  flex: 1;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  color: #000;
  border-right: 1px solid #ccc;
}
.order_content nav a:nth-child(5){border: none;}

.cd {
  display: flex;
  height: 48px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  line-height: 48px;
  text-align: center;
}

.cd i {
  flex: 1;
  font-size: 20px;
}

.order_list{
  margin-bottom:60px;
  /*background-color: #fff;*/
}

.order_list li {
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.order_list li .shangping1 {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.order_list li .shangping1 p {
  line-height: 37px;
  font-size: 12px;
  float: left;
  margin-left: 10px;
}

.order_list li .shangping1 span {
  font-size: 12px;
  line-height: 37px;
  margin-right: 10px;
  float: right;
  color: #ed369b;
}

.order_list li .shangping2 {
  height: 95px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.order_list li .shangping2 img {
  float: left;
  height: 75px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

.order_list li .shangping2 p {
  font-size: 12px;
  line-height: 48px;
}

.order_list li .shangping2 span {
  font-size: 12px;
  color: #f377bb;
  float: left;
  line-height: 30px;
  margin-top: 10px;
}

.order_list li .shangping2 .num_count {
  float: right;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 10px;
}

.order_list li .shangping3 {
  width: 100%;
  height: 37px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.order_list li .shangping3 p {
  float: right;
  line-height: 37px;
  color: #464646;
  margin-right: 10px;
  font-size: 0.75em;
}

.order_list li .shangping4 {
  width: 100%;
  height: 37px;
  overflow: hidden;
}

.order_list li .shangping4 a:nth-child(n) {
  display: block;
  padding: 4px 6px;
  border: 1px solid #ccc;
  font-size: 12px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  color: #000000;
  border-radius: 5px;
}